@import "compass"
@import "blueprint"

$font-color:         #2a2a2a
$link-color:         #0388a6
$link-hover-color:   #009ce0
$link-focus-color:   $link-color
$link-active-color:  $link-color
$link-visited-color: $link-color

$blueprint-font-family:  'Century Gothic', 'Apple Gothic', 'Helvetica Neue', arial, sans-serif
$blueprint-font-size:    13px
$blueprint-grid-columns: 12
$blueprint-grid-width:   60px
$blueprint-grid-margin:  20px

+global-reset
+blueprint-typography

body
  +blueprint(true)
  h1,h2,h3,h4,h5,h6
    color: #251414
a
  +link-colors($link-color, $link-hover-color, $link-focus-color, $link-active-color, $link-visited-color)

img
  +box-shadow(1px 1px 5px #999)

body
  ul
    +no-bullets
    padding: 0
    margin: 0
  li
    padding: 0
    margin: 0


#container
  +container
  //+grid-background($blueprint-grid-columns, $blueprint-grid-width, $blueprint-grid-margin)

header
  +column(12, true)
  position: relative
  margin-bottom: 2.5em

  h1
    position: absolute
    left: 1.5em
    bottom: 2.5em
    +text-shadow(0px 2px 3px rgb(87, 71, 71))
  time
    display: block
    position: absolute
    bottom: .5em
    right: .5em
    font-size: 2.3em
    +text-shadow(0px 2px 3px rgb(87, 71, 71))


section
  padding-bottom: 1em

  .content
    padding-top: 2em
    li
      display: none
      &.active
        display: block


.left-col
  +column(7)
.right-col
  +column(5, true)

// ==  Places ==
section.places
  margin-top: 7px
  padding-right: 30px
  .links
    +horizontal-list
  .links li
    margin-right: 14px
    font-size: 1.3em
    a
      text-decoration: none
      color: #666
    &.active
      a
        color: #3d1f1f
        border-bottom: 1px solid #3d1f1f
        padding-bottom: 2px

  .content
    a
      color: black
    img
      width: span(6)
      display: block
      margin: 0 0 1.5em

    h4
      margin-bottom: .4em


// == People ==
section.people
  min-height: 1024px

  .links li
    +column(1)
    width: 60px
    height: 90px
    margin-bottom: 1em
    +opacity(.5)
    +transition(opacity, 750ms)
    &.last
      +column(1, true)
    &.active, &:hover
      +opacity(1)


  h3 em
    color: #444
    font-style: normal


// == Registered ==
section.registered
  +column(7)

  img
    width: $blueprint-grid-width
    margin-right: 6px
    +box-shadow(none)

  .crate
    position: relative
    top: 1px
  .macys
    position: relative
    top: 3px




